.content {
  width: 85vw;
  padding: 32px 50px;
}

.repos,
.content {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
}
